* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Courier New", monospace;
	color: #222;
	background-color: #fff;
}

header {
	background-color: #FFC24C;
	padding: 20px;
}
nav {
	float:right;
}
section {
	padding:4em 0;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

img {width: 400px;}

footer {
		background-color: #FFC24C;
		padding: 20px;
		color: #000;
		font-size: 14px;
		text-align: center;
}
#splash {
	background:url(../images/kitchen.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:90vh;
}
#splash div {
	margin:5em;
}
